{% extends "base_user.html" %}

{% block content %}
<div class="grid grid-cols-6 gap-4">
    <div class="col-span-6 sm:col-start-2 sm:col-span-4">
        <form class="articles_child_success" action="{% url 'articles_child_success' %}" method="post">
            {% csrf_token %}
                <input type="hidden" id="id_article_{{ forloop.counter0 }}" name="id_article" value="{{ id_article }}">
                <button class="px-16 py-6 m-6 bg-explor-green bg-opacity-70 rounded-full w-full text-justify">
                    Choisis à quel(s) enfant(s) tu attribues un succès pour l'article "{% for art in article %}{{ art.title }}{% endfor %}":
                </button>
            <div class="px-16 py-6 m-6 bg-explor-yellow bg-opacity-70 rounded-full w-full text-justify">
            <ol>
            {% for child in q_child %}
                <li><input type="checkbox" id="id_child_{{ forloop.counter0 }}" name="id_child" value="{{ child.id_child }}">
                <label >{{ child.child_username }}</label></li>
            {% endfor %}
            </ol>
            </div>
            <button class="px-16 py-6 m-6 bg-explor-red bg-opacity-70 rounded-full w-full text-justify" type="submit"> Clique ici pour attribuer le succès ! </button>
        </form>
    </div>
</div>
{% endblock %}