{% extends "base_user.html" %}

{% block content %}
<h1 class="font-titre text-center text-explor-red text-l sm:text-6xl">Contact </h1>

<div id="mention_legal" class="grid m-6 md:grid-cols-6 gap-4 gap-2">

    <div class="col-start-2 col-span-4 text-center">
        <p>Vous pouvez contacter l'administrateur du site sur sa page github https://github.com/sebajou</p>
        <p>L'auteur des articles est joignable sur son compte Instagram explorateur-par-nature. </p>
    </div>
</div>
{% endblock %}