{% extends "base_user.html" %}

{% block content %}
<h1 class="font-titre text-center text-explor-red text-l sm:text-6xl">Mention légale </h1>

<div id="mention_legal" class="grid m-6 md:grid-cols-6 gap-4 gap-2">

    <div class="col-start-2 col-span-4 text-center">
        <p>Le site et son code est sous licence MIT. Vous pouvez le retrouvez à l'adresse https://github.com/sebajou/explorateur-par-nature-express</p>
        <p>Le contenue du site, c'est article sont sous copyright. Il ne peut être repris à des fin commercial. </p>
    </div>
</div>
{% endblock %}