{% extends "base_user.html" %}

{% block content %}

<h1 class="font-titre text-center text-explor-red text-l sm:text-6xl">Membres de la tribu {{ user.username }} </h1>

<h1 class="font-titre text-center text-explor-sky m-6 text-l sm:text-6xl">L'/Les enfant(s) de la tribu : </h1>
<div id="childs" class="grid m-6 md:grid-flow-col gap-2">
    {% for child in children %}
    <div class="flex items-center justify-center" id="child-{{ forloop.counter0 }}">
        <figure class="static  text-center content-center  max-w-xs cursor-pointer">
        <div class="mt-6">
            <button class="inline-block px-1 bg-explor-green bg-opacity-70 hover:bg-explor-sky rounded-full">
                <h1>Voici {{ child.child_username }} ! </h1>
            </button>
        </div>
        <img class="static rounded-lg shadow-xl" src="{{ MEDIA_URL }}{{ child.image_profile_child }}">
            <figcaption class="text-center -mt-16 static text-lg text-white px-4">
                <div>
                    <button class="inline-block px-1 bg-explor-red bg-opacity-70 hover:bg-explor-sky rounded-full">
                        <form class="trophies_gallery" action="{% url 'trophies_gallery' id_child=child.id_child %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" id="id_child2_{{ forloop.counter0 }}" name="id_child" value="{{ child.id_child }}">
                            <button class="px-3 bg-explor-red bg-opacity-70 hover:bg-explor-sky rounded-full" type="submit">
                                Ici les badges qu'a remporté {{ child.child_username }}
                            </button>
                        </form>
                    </button>
                </div>
            </figcaption>
        </figure>
    </div>
    {% endfor %}
</div>

<h1 class="font-titre text-center text-explor-sky m-6 text-l sm:text-6xl">Le / Le(s) tuteur(s) de la tribu : </h1>
<div id="tutors" class="grid m-6 md:grid-flow-col gap-4">
    {% for tutor in tutors %}
    <div class="flex items-center justify-center" id="tutor-{{ forloop.counter0 }}">
        <figure class="static  text-center content-center  max-w-xs cursor-pointer">
            <div class="mt-6">
                <button class="inline-block px-1 bg-explor-green bg-opacity-70 hover:bg-explor-sky rounded-full">
                    <h1>Tuteur {{ tutor.tutor_username }}</h1>
                </button>
            </div>
        <img class="static rounded-lg shadow-xl" src="{{ MEDIA_URL }}{{ tutor.image_profile_tutor }}">
        </figure>
    </div>
    {% endfor %}
</div>

{% endblock %}
