{% extends "base_user.html" %}
{% load static %}

{% block headband %}
<div class="container-fluid" id="profile">
    <div class="row bg-dark">
        <div class="col-12">
                <div class="headband mt-5">
                    <div class="headtext">
                            {{ user.username }}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <br>
        <h1>Page de profil, Vous êtes connecté en tant que  {{ user }}.</h1>
        <div  id="right-style">
            <p><strong>Nom de la tribu :</strong> {{ user.username }}</p>
            <p><strong>Courriel pour contacter la tribu (email) :</strong> {{ user.email }}</p>
            <p><strong>Last login:</strong> {{ user.last_login }}</p>
            <p><strong>Date joined:</strong> {{ user.date_joined }}</p>
        </div>
    </div>
{% endblock %}