<!DOCTYPE html>
<html>
    {% load tailwind_tags %} {% load static %}
<head>
 <title>Explorateur par nature</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
</head>
    {% tailwind_css %}
    <body class="bg-explor-white">
        <header>
            <div class="relative h-64 m-8 overflow-hidden rounded-full bg-explor-green" id="title_band">
              <div class="absolute z-30 flex w-full h-full">
                <div class="relative z-30 w-5/6 px-6 py-8 text-white md:py-10 md:w-1/2">
                  <a href="{% url 'wheel' %}">
                  <h2 class="text-5xl mx-6 font-titre">Explorateur par nature</h2>
                  <img class="invisible lg:visible object-scale-down h-42 w-42 m-6" src="{{ MEDIA_URL }}/ex-par-nat_logo_little.png" alt="logo Explorateur par nature"/><span></span>
                  </a>
                </div>
                <div class="absolute top-0 right-0 flex w-full h-full">
                  <div class="w-1/3 h-full bg-explor-green"></div>
                  <div class="relative w-1/3"><svg fill="currentColor" viewBox="0 0 100 100" class="absolute inset-y-0 z-20 h-full text-explor-green">
                      <polygon id="diagonal" points="0,0 100,0 50,100 0,100"></polygon>
                    </svg><svg fill="currentColor" viewBox="0 0 100 100" class="absolute inset-y-0 z-10 h-full ml-6 text-white opacity-50">
                      <polygon points="0,0 100,0 50,100 0,100"></polygon>
                    </svg></div>
                </div>
              </div>
              <div class="absolute top-0 right-0 block w-9/12 h-full"><img alt="Snowy mountain lake" class="object-cover min-w-full h-full" src="{{ MEDIA_URL }}/photo_titre.jpg"></div>
            </div>
            {% block connect %}
            <div class="w-full md:flex md:items-center md:w-auto m-8" id="menu">
                <ul class="pt-4 text-base text-gray-700 md:flex md:justify-between md:pt-0">
                    {% if user.username %}
                    <li>
                        <button class="flex flex-row h-16 m-3 font-titre bg-explor-green hover:bg-explor-sky rounded-full" type="submit" id="submit1">
                            <h2 class="font-titre m-3 text-sm sm:text-2xl text-explor-white"><strong>Tribu connectée :</strong> {{ user.username }}</h2>
                        </button>
                    {% else %}
                    <li>
                        <button class="flex flex-row h-16 px-6 m-3 font-titre bg-explor-green hover:bg-explor-sky rounded-full" type="submit" id="submit2">
                            <h2 class="font-titre m-3 text-sm sm:text-2xl text-explor-white"><strong>La tribu n'est pas connectée.</strong></h2>
                        </button>
                    {% endif %}
                      <li>
                        <a class="font-corps" href="{% url 'wheel' %}">
                            <button class="flex flex-row px-6 m-3 font-titre bg-explor-green text-explor-white hover:bg-explor-sky rounded-full" type="submit" id="submit3">
                                Centre des opérations<img class="object-scale-down h-16" src="{{ MEDIA_URL }}/centre_des_operation.png">
                            </button>
                        </a>
                    </li>
                    {% if user.username %}
                    <li>
                        <a class="font-corps" href="{% url 'tribut_profile' %}">
                            <button class="flex flex-row px-6 m-3 font-titre bg-explor-green text-explor-white hover:bg-explor-sky rounded-full" type="submit" id="submit4">
                                Profil de la Tribu <img class="object-scale-down h-16" src="{{ MEDIA_URL }}/profil_tribu.png">
                            </button>
                        </a>
                    </li>
                    <li>
                        <a class="font-corps" href="{% url 'child_form' %}">
                            <button class="flex flex-row px-6 m-3 font-titre bg-explor-green text-explor-white hover:bg-explor-sky rounded-full" type="submit" id="submit5">
                                Ajouter un enfant à la tribu<img class="object-scale-down h-16" src="{{ MEDIA_URL }}/ajouter_un_enfant.png">
                            </button>
                        </a>
                    </li>
                    <li>
                        <a class="font-corps" href="{% url 'tutor_form' %}">
                            <button class="flex flex-row px-6 m-3 font-titre bg-explor-green text-explor-white hover:bg-explor-sky rounded-full" type="submit" id="submit6">
                                Ajouter un tuteur à la tribu<img class="object-scale-down h-16" src="{{ MEDIA_URL }}/ajouter_un_tuteur.png">
                            </button>
                        </a>
                    {% else %}
                    </li>
                    <li>
                        <a class="font-corps" href="{% url 'signup' %}">
                            <button class="flex flex-row px-6 m-3 font-titre bg-explor-green text-explor-white hover:bg-explor-sky rounded-full" type="submit" id="submit7">
                                Créer une tribu<img class="object-scale-down h-16" src="{{ MEDIA_URL }}/ajouter_tribu.png">
                            </button>
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_author %}
                    <li>
                        <a class="font-corps" href="{% url 'author_home' %}">
                            <button class="flex flex-row px-6 m-3 font-titre bg-explor-green text-explor-white hover:bg-explor-sky rounded-full" type="submit" id="submit8">
                                Bibliography de l'auteur<img class="object-scale-down h-16" src="{{ MEDIA_URL }}/ex-par-nat_logo_rev.png">
                            </button>
                        </a>
                    </li>
                    {% endif %}
                    {% if user.username %}
                    <li>
                        <a class="font-corps" href="{% url 'account_logout' %}">
                            <button class="flex flex-row h-16 px-6 m-3 font-titre bg-explor-green text-explor-white hover:bg-explor-sky rounded-full" type="submit" id="submit9">
                                Se déconnecter<img class="object-scale-down h-10" src="{{ MEDIA_URL }}/se_deconnecter.png">
                            </button>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a class="font-corps" href="{% url 'login' %}">
                            <button class="flex flex-row h-16 px-6 m-3 font-titre bg-explor-green text-explor-white hover:bg-explor-sky rounded-full" type="submit" id="submit10">
                                Se connecter<img class="object-scale-down h-10" src="{{ MEDIA_URL }}/se_connecter.png">
                            </button>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
            {% endblock %}
        </nav>
    </header>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <!-- Footer-->
        {% block footer %}
        <div id="footer">
            <footer class="bg-explor-red py-5 font-corps text-center">
                <div class="container"><a class="font-corps" href="{% url 'mention_legal' %}">Mentions Légales </a> -
                    <a class="font-corps" href="{% url 'contact' %}">Contact</a></a></div>
            </footer>
        </div>
        {% endblock %}
    </body>
</html>