{% extends "base_user.html" %}

{% block content %}

<p><br>
    <li>title : {{ object.title }}</li><br>
    <li>objectif : {{ object.objectif }}</li><br>
    <li>content : {{ object.content }}</li><br>
    <li>pedagogic_aims : {{ object.pedagogic_aims }}</li>
    <li>
    {% for image in object.list_image.all %}
        Titre de l'image : {{ image.title }}
        <img src="{{ MEDIA_URL }}{{ image.image_article }}" alt=""/>
    {% endfor %}
    </li>
    <li>
    {% for equipement in object.list_equipement.all %}
        text de l'equipement : {{ equipement.text }}
        quantity de l'equipement : {{ equipement.quantity }}
        unity de l'equipement : {{ equipement.unity }}
    {% endfor %}
    </li>
    <li>
        <a href="{% url 'article_update' object.pk %}">Update</a>
    </li>
    <li>
        {% if user.is_tribut == True %}
        <form class="article_child_success_choice" action="{% url 'article_child_success_choice' %}" method="post">
            {% csrf_token %}
            <input id="id_article_{{ forloop.counter0 }}" type="hidden" value="{{ object.id_article }}" name="id_article">
            <button class="article_child_success_choice" type="submit">{{ object.title }}  articles_child_success</button>
        </form>
        {% endif %}
    </li>
    <br><br><br>
</p>

{% endblock %}
