{% extends "base_user.html" %}

{% block content %}

<h1>List des articles pour l'auteur {{ user.username }}</h1>
<ul>
{% for articles in object_list %}
    <p><br>
        <li>title : {{ articles.title }}</li><br>
        <li>objectif : {{ articles.objectif }}</li><br>
        <li>content : {{ articles.content }}</li><br>
        <li>pedagogic_aims : {{ articles.pedagogic_aims }}</li>
        <li>
        {% for image in articles.list_image.all %}
            Titre de l'image : {{ image.title }}
            <img src="{{ MEDIA_URL }}{{ image.image_article }}" alt=""/>
        {% endfor %}
        </li>
        <li>
        {% for equipement in articles.list_equipement.all %}
            text de l'equipement : {{ equipement.text }}
            quantity de l'equipement : {{ equipement.quantity }}
            unity de l'equipement : {{ equipement.unity }}
        {% endfor %}
        </li>
        <li>
        <a href="{% url 'article_read' articles.pk articles.title|slugify %}">detail</a>
        </li>
        <br><br><br>
    </p>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>


{% endblock %}
